# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# classmates packages
git+ssh://git@github.com/NickSzczerb/nickpackage
git+ssh://git@github.com/brahim-el-merbouh/brahim_ml_project
git+ssh://git@github.com/blueoverseas/dany
